@model PataseLuxos.Models.Carrinho

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Carrinho</h4>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ProdutoId" class="control-label"></label>
                <select asp-for="ProdutoId" class="form-control" asp-items="ViewBag.ProdutoId"></select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FormaPagamentoId" class="control-label"></label>
                <select asp-for="FormaPagamentoId" class="form-control" asp-items="ViewBag.FormaPagamentoId"></select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <button type="submit" class="btn btn-primary w-100 p-3 ">
                    <i class="bi bi-floppy"></i> Salvar
                </button>
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <a asp-action="Index" class="btn btn-outline-secondary w-100 p-3"><i class="bi bi-arrow-repeat"></i>Voltar</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
